.heroic{
  overflow: hidden;
  width: 100%;
  position: relative;

  .shield{
    transform-style: preserve-3d;
  }

  video {
    width: 105%;
    margin-left: -2.5%;
  }

  h1{
    font-family: 'Teko', sans-serif;
    text-transform: uppercase;
    color: white;
    text-align: center;
    position: absolute;
    font-size: 26vw;
    bottom: -22%;
    left: 50%;
    width: 100%;
    vertical-align: bottom;
    transform: translateX(-50%) translateY(0%) translateZ(50px);
    transform-style: preserve-3d;
  }
}

.intro{
  text-align: center;
  padding: 4rem;
}